body {
    font-family: arial;
    background-color: #e3ffcf;
    overflow-x: hidden;
}

nav{
    background: rgba(152, 252, 152, 1.0);
background: -webkit-linear-gradient(bottom right, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
background: -moz-linear-gradient(bottom right, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
background: linear-gradient(to top left, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
}

.container img{
    display: block;
    margin: 25px;
    width: 1050px;
}

p{
    font-family: arial;
    text-align: justify;
    margin: 50px;
}

.container2 img{
    margin: 10px 50px 75px 330px;
    width: 650px;
}

h2{
    text-align: center;
}

a.btn.btn-primary {
    background: rgba(152, 252, 152, 1.0);
background: -webkit-linear-gradient(bottom right, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
background: -moz-linear-gradient(bottom right, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
background: linear-gradient(to top left, rgba(152, 252, 152, 1.0), rgba(248, 242, 145, 1.0));
    color: black;
    border-color: #e3ffcf;
}